.ne_time-slot {
    font-weight: 500;
    font-size: 13.33px;
  }
  
  .ne_data_scroll {
    //   border: 1px solid red;
    width: 100%;
  }
  
  .ne_time-slot_day {
    color: #5a5c5e;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    padding-right: 0.25rem;
  }
  .ne_time-slot_date {
    font-size: 11.1px;
  }
  
  .ne_arrow {
    font-size: 1.3rem;
    color: #a8abae;
    &:hover {
      cursor: pointer;
    }
  }